<% layout('../layouts/boilerplate') %>
     <form action="http://localhost:8080/listings/<%= showList._id %>?_method=PUT" method="post">
        <p>Title:</p>
        <input type="text" name="title" value="<%= showList.title %>">
        <p>Discription</p>
        <input type="text" name="description" value="<%= showList.description %>">
        <p>Image</p>
        <input type="text" name="image" value="<%= showList.image.url %>">
        <p>Price</p>
        <input type="number" name="price" value="<%= showList.price %>">
        <p>Location:</p>
        <input type="text" name="location" value="<%= showList.location %>">
        <p>Country:</p>
        <input type="text" name="country" value="<%= showList.country %>"><br><br>
    
        <button>Edit</button>

     </form>
</body>
</body>
</html>