<% layout('../layouts/boilerplate') %>
    <h2>Show Route</h2>
    <ul>
        <img src="<%= showList.image.url %>" style="height: 200px;width: 200px;" alt="">
        <li><%= showList.price %></li>
        <li><%= showList.title %></li>
        <li><%= showList.description %></li>
       
        <li><%= showList.location %></li>
        <li><%= showList.country %></li>
       
    </ul>
