<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Show Route</h2>
    <ul>
        <li><%= showList.title %></li>
        <li><%= showList.description %></li>
        <img src="<%= showList.image.url %>" style="height: 200px;width: 200px;" alt="">
        <li><%= showList.price %></li>
        <li><%= showList.location %></li>
        <li><%= showList.country %></li>
       
    </ul>
</body>
</html>